numpy
pandas
matplotlib
kaggle # For downloading datasets from Kaggle
h5py
plotly
nbformat
albumentations 
opencv-python
tqdm
ipywidgets
lightning
tensorboard

# If on windows, please manually install pytorch from https://pytorch.org/get-started/locally/
torch
torchvision